# =============== #
# Unity generated #
# =============== #
LudumDare32/[Tt]emp/
LudumDare32/[Oo]bj/
LudumDare32/[Bb]uild
LudumDare32/[Ll]ibrary/
LudumDare32/sysinfo.txt
 
 # ===================================== #
 # Visual Studio / MonoDevelop generated #
 # ===================================== #
 [Ee]xported[Oo]bj/
 LudumDare32/**/*.userprefs
 LudumDare32/**/*.csproj
 LudumDare32/**/*.pidb
 LudumDare32/**/*.suo
 LudumDare32/**/*.sln*
 LudumDare32/**/*.user
 LudumDare32/**/*.unityproj
 LudumDare32/**/*.booproj
  
  # ============ #
  # OS generated #
  # ============ #
  .DS_Store*
  ._*
  .Spotlight-V100
  .Trashes
  Icon?
  ehthumbs.db
  [Tt]humbs.db
